@model GraduaatsProef2022_2023.Models.Onderwerpen

@{
    ViewData["Title"] = "Create";
}
<div class="text-white">
    <h1>Maak nieuw onderwerp</h1>

    <h4>Nieuw onderwerp</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Naam" class="control-label"></label>
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Omschrijving" class="control-label"></label>
                    <input asp-for="Omschrijving" class="form-control" />
                    <span asp-validation-for="Omschrijving" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actie" class="control-label"></label>
                    <input asp-for="Actie" class="form-control" />
                    <span asp-validation-for="Actie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Terug naar de onderwerpen</a>
    </div>

</div>

