@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Gebruikers</h1>
        <p class="m-4">Alle gebruikers</p>
        <p><button onclick="location.href='@Url.Action("Index", "Account")'">Ga naar de lijst van gebruikers</button></p>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Onderwerpen</h1>
        <p class="m-4">Alle onderwerpen</p>
        <p><button onclick="location.href='@Url.Action("Index", "Onderwerpens")'">Ga naar de lijst van onderwerpen</button></p>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Reserveringen</h1>
        <p class="m-4">Alle reserveringen</p>
        <p><button onclick="location.href='@Url.Action("Index", "Reserveringens")'">Ga naar de lijst van reserveringen</button></p>
    </div>
</div>