<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraduaatsProef2022_2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GraduaatsProef2022_2023.styles.css" asp-append-version="true" />
</head>
<body class="bg-black">
    <header>
            <div class="d-flex bg-black text-white p-2">
                <span class="navbar-brand flex-grow-1 ml-2">
                    <img class="m-2" width="200" height="50" src="~/images/BrightestLogo.png" onclick="location.href='@Url.Action("Index", "Home")'" />
                </span>
                <span class="navbar-brand m-0">
                    <a class="btn btn-block link-light border-warning m-3" asp-controller="Account" asp-action="Register">Registreer</a>
                    <a class="btn btn-block link-light border-warning m-3" asp-controller="Account" asp-action="Login">Login</a>
                </span>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GraduaatsProef2022_2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
