@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-block link-light border-warning m-1" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
}
else
{
    <a class="btn btn-block link-light border-warning m-1" asp-controller="Account" asp-action="Register">Registreer</a>
    <a class="btn btn-block link-light border-warning m-1" asp-controller="Account" asp-action="Login">Login</a>

}
