@model IEnumerable<Onderwerpen>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Hier komen de onderwerpen als product kaarten*@
<div class="productCard">
    <div class="card">
        <img src="~/images/Onderwerpen.JPG" alt="Test">
        <h1 class="m-4">Onderwerpen</h1>
        <p class="m-4">Bekijk alle onderwerpen die er zijn en waar je mogelijk op kunt reserveren. </p>
        <a asp-action="Index" asp-controller="Onderwerpens">Bekijk details van alle onderwerpen</a>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/ReserveringenIcon.JPG" alt="Test">
        <h1 class="m-4">Reserveringen</h1>
        <p class="m-4">Alle reserveringen die aanwezig zijn en waar je kan op reserveren.</p>
        <a asp-action="Index" asp-controller="Reserveringens">Maak je reservering</a>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/WinkelKar.JPG" alt="Test">
        <h1 class="m-4">Jouw Reservaties</h1>
        <p class="m-4">Alle reserveringen die jij hebt gemaakt op de applicatie.</p>
        <a asp-action="ShowUserIndex" asp-controller="Reserveringens">Jouw reserveringen</a>
    </div>
</div>