@model IEnumerable<Onderwerpen>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Hier komen de onderwerpen als product kaarten*@
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Onderwerpen</h1>
        <p class="m-4">Alle onderwerpen</p>
        <p><button onclick="location.href='@Url.Action("Index", "Onderwerpens")'">Ga naar de lijst van onderwerpen om details te bekijken van de onderwerpen.</button></p>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Reserveringen</h1>
        <p class="m-4">Alle reserveringen</p>
        <p><button onclick="location.href='@Url.Action("Index", "Reserveringens")'">Ga naar de lijst van, welke je reserveringen op kunt doen</button></p>
    </div>
</div>
<div class="productCard">
    <div class="card">
        <img src="~/images/Testing.jpg" alt="Test">
        <h1 class="m-4">Jouw Reservaties</h1>
        <p class="m-4">Al jouw reservaties</p>
        <p><button onclick="location.href='@Url.Action("UserIndex", "Reserveringens")'">Ga naar de lijst van jouw reserveringen</button></p>
    </div>
</div>