@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center ">
    <div class="text-white">
        <img width="400" height="200" src="~/images/LogoBrightestLearn.png" alt="brightest Learn"/>
    </div>
</div>
<div class="infotext text-white">
    <div class="typetest">
        <h3 class="text-center text-decoration-underline">Wat is Brightest Learn?</h3>
        <br />
        <p class="text-center">1 alinea</p>
    </div>
    <div class="typetest">
        <h3 class="text-center text-decoration-underline">Wat kan je hier doen?</h3>
        <br />
        <p class="text-center">2 alinea</p>
    </div>
    <div class="typetest">
        <h3 class="text-center text-decoration-underline">Login/registreer</h3>
        <br />
        <p class="text-center">3 alinea</p>
    </div>
</div>
