@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center ">
    <div class="text-white">
        <img width="400" height="200" src="~/images/LogoBrightestLearn.png" alt="brightest Learn"/>
    </div>
</div>
<div class="infotext text-white">
    <div class="typetest">
        <img src="~/images/QuestionMark.png" alt="Picture" />
        <h3 class="text-center text-decoration-underline">Wat is Brightest Learn?</h3>
        <br />
        <p class="text-center">Brihgtest Learn is een website, waar je over testonderwerpen kunt bijleren. Je kan lessen volgen en hiermee je kennis beter maken of iets nieuws leren rond Testing</p>
    </div>
    <div class="typetest">
        <img src="~/images/QuestionMark.png" alt="Picture" />
        <h3 class="text-center text-decoration-underline">Wat kan je hier doen?</h3>
        <br />
        <p class="text-center">Je kan een account aanmaken, daarna kan je uit verschillende onderwerpen kiezen om over bij te leren en daarna kan je een les kiezen voor die dag, om te volgen. </p>
    </div>
    <div class="typetest text-center">
        <img src="~/images/RegisterLoginPic.png" alt="Picture" />
        <h3 class="text-decoration-underline">Login/registreer</h3>
        <br />
        <p>Vanboven kan u zich registreren of inloggen.</p>
    </div>
</div>
